<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxau.master.dao.mapper.SysProductMapper">

    <select id="getAllProByUserIdAndState" resultType="com.sxau.master.data.SysProduct">
        select * from sys_product where id =#{userId}
        and state in
        <foreach collection="list" item="state" open="(" close=")" separator=",">
            #{state}
        </foreach>
    </select>

    <select id="getAllProduct" resultType="com.sxau.master.data.SysProduct">
         select * from sys_product where state = #{state}
         <if test="sortId!=null">
             and sort_id = #{sortId}
         </if>
    </select>
    <select id="getAllProductForUser" resultType="com.sxau.master.data.SysProduct">
         select * from sys_product where state = #{state} and user_id =#{userId}
    </select>
    <update id="cancelSomePro">
        update  sys_product set state = #{state},update_time =#{time} where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="batchToChangeProState">
        update sys_product set state = #{state},update_time =#{time} where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>